

body{
    background-image: url('all_dogs.png');
  }
h1 {
    position: relative;
    color: black;  
    font-size: 2rem;
    line-height: 0.9;
    text-align: center;
  }
#image_input{
    gap: 10px;
}
.container{
    
    width: 50%;
    height: 50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 10px;
 }
 #display_image{
  width: 600px;
  background-position: center;
  background-size: cover;
  border: black, solid, 1px;
}
#display_image2{
  width: 500px;
  height: 500px;
  background-position: center;
  background-size: cover;
  border: black, solid, 1px;
}
 ::-webkit-file-upload-button {
    background: gray;
    color: white;
    padding: 1em;
    display: inline-block;
    border: none;
    padding: 7px 15px;
    font-weight: 900;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
    font-size: 20pt;
  }
  label {
    background-color: gray;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
  }